### Asignatura Informatica - Grado 10
__Clase:__ Funciones logicas ```SI``` simples <br>
__Profesor:Alexander Acevedo Gomez__<br>
Ingeniero de Sistemas - Universidad Nacional de Colombia <br>
Magister en Modelado y Simulacion por Computador - Universidad Jorge Tadeo Lozano <br>
__Telegram: @Alex6m__

# Guia 2 - Funciones Lógicas de tipo ```SI``` simples

### Ejercicios y Obtención del Sello (5 puntos máximo)

Para obtener el sello escriba en su cuaderno:
1. __Competencia__: 1
2. __Ámbito conceptual__: Las funciones lógicas SI, Y, O. Simples y anidadas.
3. __Objetivo__: Plantear correctamente la prueba logica de la funcion SI, desarrollando las operaciones  con las funciones necesarias en la parte verdadera y falsa.
4. __Nombre de la actividad__: Guia 2 funciones si simples.

> ### No traduzca esta pagina a español, ya que las tablas se afectan

## Ejercicio 1 - 1002

La siguiente tabla muestra el consumo de agua en un grupo de personas en los meses de enero a mayo

1. Copie la siguiente tabla en la __```Hoja1```__, tenga en cuenta de cambiar __puntos por comas__:

| Nombre | Enero     | Febrero   | Marzo     | Abril     | Mayo      |
|------------|-----------|-----------|-----------|-----------|-----------|
| Dyane      | 330469.92 | 403514.14 | 372751.43 | 425405.65 | 316970.68 |
| Stephana   | 155600.92 | 88799.43  | 306210.7  | 330512.71 | 226808.4  |
| Constantin | 48012.27  | 316110.92 | 68489.52  | 336932.46 | 423730.57 |
| Odetta     | 414037.93 | 299378.1  | 26969.72  | 167846.49 | 86217.79  |
| Norrie     | 94427.6   | 373136.09 | 450624.18 | 333825.25 | 31330.58  |
| Anny       | 64997.67  | 114928.53 | 156500.93 | 290233.56 | 382906.43 |
| Lindsy     | 441854.86 | 146296.1  | 122352.15 | 129999.54 | 433832.42 |
| Patty      | 280160.81 | 262110.06 | 353734.59 | 478466.59 | 291500.51 |
| Chen       | 307016.79 | 393823.9  | 238307.22 | 400863.13 | 208131.96 |
| Lanny      | 62277.48  | 431883.9  | 360642.51 | 224210.82 | 233883.11 |
| Samuel     | 233623.15 | 316825.96 | 138159.79 | 373110.56 | 329309.03 |
| Corry      | 457441.44 | 239839.09 | 347429.96 | 89340.38  | 243135.69 |
| Odilia     | 407704.08 | 78995.13  | 44095.81  | 325881.99 | 411201.21 |
| Washington | 325091.15 | 464169.09 | 409476.35 | 388832.12 | 294288.38 |
| Charley    | 182740.99 | 475031.61 | 265152.16 | 78632.46  | 387540.64 |
| Antonin    | 283260.37 | 415006.24 | 268281.8  | 439398.55 | 59281.82  |
| Elsi       | 49461.88  | 411380.02 | 370506.62 | 389926.01 | 73465.7   |
| Nancy      | 166978.88 | 322787.43 | 431086.68 | 171043.9  | 53061.02  |
| Kalli      | 182707.89 | 63693.88  | 109340.77 | 129563.56 | 214752.89 |
| Kore       | 327516.64 | 327937.04 | 69117.29  | 370254.84 | 163661.24 |
| Sella      | 94864.74  | 370150.37 | 414309.2  | 456768.43 | 495237.02 |
| Arlen      | 268664.29 | 470278.45 | 390930.2  | 187897.1  | 206949.24 |
| Gunther    | 189861.62 | 77489.07  | 168778.42 | 61841.37  | 395160.39 |
| Ilaire     | 326199.51 | 373103.69 | 109071.97 | 27283.82  | 29777.4   |
| Phillie    | 278759.69 | 165317.42 | 259974.25 | 365680.45 | 486846.58 |

2. Agregue en la columna ```G1``` una columna llamada ```consumo total```
3. Calcule en la columna ```G``` el total de agua consumida por cada persona.
4. Agregue en la celda ```H1``` una columna llamada ```promedio consumo```.
5. Calcule en la columna ```H``` el promedio de agua consumida en los 5 meses, empleando la formula vista en el primer periodo.
6. Agregue en la celda ```I1``` una columna llamada ```descuento por bajo consumo```
7. Suponga que el gobierno dará un subsidio a aquellas personas cuyo promedio por agua sea inferior a ```220000```.
   - Indique en la columna ```I``` con el texto "Subsidio Aprobado" a quienes cumplan el requisito y "Denegado" a los que no lo cumplan.
8. Agregue en la celda ```J1``` una columna llamada ```Precio final con Descuento```
9. Las personas que salieron favorecidas con el subsidio del punto 7, se les dara un descuento de ```50000``` sobre el precio total del consumo,  calcule en la columna ```J``` el nuevo precio empleando la funcion SI, pero a las personas que no tienen subsidio esa celda debe aparecer vacia.

## Ejercicio 2 - 1002

La siguiente tabla muestra el rendimiento de un grupo de jugadores en un juego de acción, muestra diversa información sobre el rendimiento en el nivel final.
1. Copie la tabla en la __```hoja2```__, tenga en cuenta de cambiar __puntos por comas__:

| irst_name | Total shots | Accuracy % | Penalities % | Partial points|
|-----------|-------------|-----------|------------|--------------|
| Laetitia  | 7838        | 52.8      | 43.1       | 6296         |
| Hart      | 5499        | 75.2      | 5.5        | 4394         |
| Helena    | 3662        | 92.3      | 34.4       | 589          |
| Yehudi    | 7184        | 97.8      | 11.9       | 6743         |
| Jacinthe  | 4188        | 61.4      | 59.8       | 8952         |
| Annnora   | 9930        | 32.5      | 46.0       | 6933         |
| Zorina    | 3478        | 38.1      | 42.1       | 8704         |
| Rhiamon   | 5990        | 75.0      | 8.3        | 8509         |
| Niko      | 6685        | 9.5       | 80.9       | 4321         |
| Brannon   | 1771        | 12.4      | 47.4       | 7226         |
| Marin     | 2846        | 21.1      | 48.9       | 7864         |
| Tod       | 7536        | 7.4       | 21.3       | 4684         |
| Bernarr   | 489         | 11.3      | 46.7       | 3850         |
| Kissiah   | 5397        | 51.9      | 80.9       | 3121         |
| Ali       | 6283        | 27.0      | 27.2       | 7676         |
| Linus     | 7971        | 65.5      | 22.6       | 6969         |
| Letti     | 1451        | 40.9      | 13.7       | 7902         |
| Linda     | 5945        | 24.4      | 38.2       | 2796         |
| Michele   | 8641        | 99.1      | 31.4       | 2376         |
| Taite     | 8551        | 79.3      | 98.3       | 5273         |
| Murvyn    | 5047        | 71.0      | 76.1       | 4137         |
| Antonin   | 3314        | 56.4      | 28.4       | 6201         |
| Hermine   | 5140        | 15.9      | 75.6       | 7195         |
| Earvin    | 2029        | 20.1      | 71.8       | 3779         |
| Theressa  | 5972        | 72.7      | 89.0       | 5109         |

2. Agregue en la celda ```F1``` una columna llamada ```Points Accurancy```
3. Lea con atención lo siguiente:

> - ```Points Accurancy``` es el valor que resulta de multiplicar ```Total shots``` por ```Accuracy``` (en porcentaje).
> - Realice ese calculo en la columna ```F```, reduzca el valor decimal a 1 digito.

4. Agregue en la celda ```G1``` una columna llamada ```Points penalities```
5. Lea con atención lo siguiente:

> - Points Penalities es el valor que resulta de multiplicar ```Total shots``` por ```Penalities```(en porcentaje).
> - Realice en la columna ```G``` dicho calculo, reduzca el valor decimal a 1 digito.

6. Agregue en la celda ```H1``` una columna llamada ```Total Points```
7. En la columna ```H``` calcule los puntos totales lo cual corresponde a la suma de ```Total shots``` con ```Points Accuracy``` menos ```Points Penalities```.
8. En la celda ```I1``` agregue una columna llamada ```Total + Bonus```
9. Lea con atención lo siguiente:

> - Cada jugador recibirá un valor de bonus el cual corresponde a ```1000``` puntos adicinales si el porcentaje de ```Accuracy``` es como mínimo del ```75%``` y ```500``` puntos para el resto.
> - En esa columna debe aparecer los puntos totales con el valor del bonus ya calculado dentro de la formula.

Guarde el archivo como: Guia2_funcionesSi_MesDia, por ejemplo: ```Guia2_FuncionesSi_Abril30```

## Ejercicio 1 - 1003

Los estudiantes de cierta universidad extranjera aprueban una materia si su nota es superior o igual a 37

1. Copie la siguiente tabla en la __Hoja 1__, tenga en cuenta de cambiar __puntos por comas__

| Nombre    | Nota 1 | Nota 2 |
|-----------|--------|--------|
| Meggi     | 10.6   | 36.2   |
| Georgy    | 48.5   | 48.2   |
| Ronny     | 14.8   | 40.3   |
| Daphna    | 40.6   | 44.5   |
| Devan     | 45.5   | 18.2   |
| Ross      | 25.4   | 13.0   |
| Brooke    | 29.0   | 14.8   |
| Feliza    | 49.6   | 24.8   |
| Jens      | 25.9   | 16.1   |
| Michele   | 49.2   | 35.8   |
| Leia      | 49.4   | 47.6   |
| Sibylle   | 42.7   | 38.3   |
| Huntlee   | 44.5   | 16.2   |
| Guillema  | 23.3   | 29.6   |
| Ekaterina | 24.6   | 16.0   |
| Rochette  | 26.2   | 18.0   |
| Isidro    | 16.8   | 40.9   |
| Ulrick    | 37.8   | 44.4   |
| Jane      | 30.6   | 38.6   |
| Aurie     | 24.3   | 13.7   |

2. Agregue en la celda ```D1``` el texto "Nota Final"
3. Calcule en dicha columna ```D``` el promedio simple de las dos notas
4. Agregue en la celda ```E1``` el texto "Valoracion"
5. Obtenga en la columna ```E``` el texto "Aprobado" o "Reprobado" según la condición que se anuncia al inicio.
6. El profesor desea dar una ayuda adicional agregando 2 puntos a quienes su nota final sea superior a 32, agregue en la celda ```F1``` el texto "Puntos extras" y mediante la funcion si calcule la nueva nota para quienes cumplen el requisito, para el resto la celda debe aparecer vacía.

## Ejercicio 2 - 1003

La siguiente tabla muestra el resultado de un estudio realizado a un grupo de personas en un dia especifico, sobre el consumo de calorias, alimentacion y actividad realizada. Segun esto se ha definido que:
- Si el almuerzo consumido es "Light" las calorias diarias disminuyen en 300, en cambio, si es "Normal" éstas aumentan en 450.
- Si la actividad realizada es "Moderada" las calorias diarias disminuyen en 230, si es "Suave" lo hacen en 150.
- Adicionalmente si se caminaron mas de 8000 pasos, las calorias disminuyen en 320 y 250 para el resto.

1. Copie la siguiente tabla en la __Hoja 2__:

| Nombre     | Calorias Diarias | Almuerzo consumido | Actividad realizada | Pasos caminados |
|------------|------------------|--------------------|---------------------|-----------------|
| Mendy      | 1211             | Light              | Moderada            | 4343            |
| Diahann    | 992              | Normal             | Suave               | 3274            |
| Cordie     | 2022             | Light              | Moderada            | 9680            |
| Antonetta  | 983              | Light              | Moderada            | 7976            |
| Devin      | 1795             | Normal             | Moderada            | 3065            |
| Koren      | 1672             | Light              | Moderada            | 6932            |
| Tito       | 1029             | Light              | Moderada            | 7039            |
| Ellsworth  | 1804             | Light              | Moderada            | 9518            |
| Cullen     | 1284             | Normal             | Moderada            | 928             |
| Jeromy     | 1668             | Normal             | Moderada            | 4833            |
| Anastassia | 859              | Normal             | Moderada            | 5905            |
| Larine     | 1531             | Light              | Moderada            | 5531            |
| Obadiah    | 1333             | Light              | Suave               | 4025            |
| Warner     | 1206             | Light              | Suave               | 6181            |
| Hartley    | 1440             | Light              | Suave               | 4336            |
| Brockie    | 1802             | Normal             | Suave               | 9231            |
| Annetta    | 2092             | Light              | Moderada            | 1288            |
| Byrann     | 2301             | Light              | Suave               | 7288            |
| Julita     | 1773             | Light              | Moderada            | 5232            |
| Rachel     | 1841             | Light              | Moderada            | 2348            |
| Kayla      | 2382             | Light              | Moderada            | 8525            |
| Minni      | 1092             | Normal             | Moderada            | 5236            |
| Mose       | 2346             | Light              | Moderada            | 4622            |
| Barty      | 1169             | Normal             | Moderada            | 3579            |
| Hillier    | 1149             | Normal             | Suave               | 1132            |
| Daniel     | 2037             | Normal             | Moderada            | 9730            |
| Raddie     | 2007             | Normal             | Suave               | 8783            |
| Hildagard  | 2390             | Light              | Moderada            | 8572            |
| Grove      | 1453             | Light              | Moderada            | 9219            |
| Frances    | 1195             | Light              | Suave               | 6097            |

2. Agregue en la columna ```F``` el texto __"Calorias-Almuerzo"__ y empleando la funcion SI calcule las nuevas calorias segun el tipo de almuerzo que ha consumido, restando o sumando según el caso.
3. En la columna ```G``` escriba __"Calorias-Actividad"__, ahora teniendo en cuenta el resultado obtenido en el punto anterior calcule las nuevas calorias segun el tipo de actividad que se realizó
4. En la columna ```H``` agregue el texto __"Calorias-Pasos"__ y calcule el nuevo resultado acomulado obtenido segun se indica al principio.
5. Finalmente en la columna ```J``` escriba __"Calorias perdidas"__ calcule cuantas calorias se perdieron en total, restando las que se tenian al principio frente a las obtenidas en el punto anterior, quienes hayan perdido mas de 400 calorias les debe aparecer "Reto cumplido" y al resto "Sigue intentando".

Guarde el archivo como: Guia2_funcionesSi_MesDia, por ejemplo: ```Guia2_FuncionesSi_Abril30```