### Asignatura Informatica - Grado 10
__Clase:__ Funciones logicas ```SI``` anidadas <br>
__Profesor:Alexander Acevedo Gomez__<br>
Ingeniero de Sistemas - Universidad Nacional de Colombia <br>
Magister en Modelado y Simulacion por Computador - Universidad Jorge Tadeo Lozano <br>
__Telegram: @Alex6m__

# Funciones lógicas de tipo ```SI``` anidadas

### Concepto

Las funciones lógicas reciben el nombre de __anidadas__ cuando se incluyen dos o mas funciones ```SI``` dentro de una principal. Son empleadas para evaluar rangos, donde los valores o resultado de la función dependen de varios intervalos y no de uno solo.

### Intervalos Matemáticos

Los intervalos matemáticos son un tipo de notación que permite representar un conjunto de datos numéricos indicando sus límites tanto en el inicio como en el final.

## Intervalos y uso de los operadores relacionales

Para definir correctamente las pruebas lógicas que evaluaran cada intervalo, debemos ordenarlos ya sea en forma ascendente (de manor a mayor) o descendente (de mayor a menor), dependiendo de este orden se determina cual de los operadores relacionales usar.

|   Intervalo  |   Operador relacional  |
|--------------|------------------------|
|   [          |   $>=$                     |
|   ]          |   $<=$                |
|   (          |   $>$              |
|   )          |   $<$                |

### Intervalos Ascendentes

Suponga que se desea clasificar los ingresos de un grupo de personas que pertenecen a una junta de acción comunal empleando los siguientes rangos:

- Desde 1200000 hasta 2500000 (sin incluirlo)-> INTERVALO A
- Desde 2500000 hasta 3200000 (sin incluirlo)-> INTERVALO B
- Desde 3200000 hasta 5000000 (sin incluirlo)-> INTERVALO C
- De 5000000 en adelante -> INTERVALO D

Los anteriores rangos pueden ser convertidos a intervalos matemáticos, usando la notación correspondiente:

- [1200000 - 2500000)
- [2500000 - 3200000)
- [3200000 - 5000000)
- [5000000 - $\infty$)

Cuando se usa la palabra _"desde"_ se está indicando que apartir de ese valor e incluyendo a este se empezará a tener en cuenta el rango. En cambio, la palabra _"sin incluirlo"_, indica que ese valor es el límite pero no debe ser tenido en cuenta para ese rango sino para el siguiente.

Una vez ordenado el intervalo, debe tener en cuenta:

> - Tomar el segundo valor de cada intervalo para establecer la función lógica correspondiente
> - Emplear el operador relacional que corresponde al simbolo de este valor, segun la tabla anterior
> - Para el último intervalo no es necesario emplear una nueva función lógica, ya que esta se descarta en la parte falsa de la seccón.

Considere que la celda con el primer valor que desea determinar su pertenencia a un determinado intervalo es ```B2```, en ese caso la función quedaría así:

```=SI(B2<2500000; "INTERVALO A"; SI(B2<3200000; "INTERVALO B"; SI(B2<5000000; "INTERVALO C"; "INTERVALO D")))```

> Observe que se usa el signo ```<```, ya que según la tabla de arriba, es el que se emplea cuando el último valor del intervalo es el paréntesis derecho.

### Intervalos Descendentes

Tomando el ejemplo anterior, el intervalo ordenado de forma descendente es:

- [5000000 - $\infty$ )
- [3200000 - 5000000)
- [2500000 - 3200000)
- [1200000 - 2500000)

Para el caso de los intervalos descendentes tenga presente que:

> - Tomar el primer valor de cada intervalo para establecer la prueba lógica
> - Emplear el operador relacional que corresponde al símbolo que acompaña este primer valor
> - Al igual que en el intervalo ascendente, el último rango se realiza por descarte sin definir la prueba lógica.

Dado lo anterior, la funcion queda así:

```=SI(B2>=5000000; "INTERVALO D"; SI(B2>=3200000; "INTERVALO C"; SI(B2>=2500000; "INTERVALO B"; "INTERVALO A")))```

## Ejercicios

Para obtener el sello escriba en su cuaderno:
Para obtener el sello escriba en su cuaderno:
1. __Competencia__: 2
2. __Ámbito conceptual__: Las funciones lógicas SI, Y, O. Simples y anidadas.
3. __Objetivo__: Plantear correctamente las pruebas logicas que evaluan cada intervalo según sea ordenado de forma ascendente o descendente.
4. __Nombre de la actividad__: Guia 1 funciones si anidadas.

### Ejercicio 1 - 1001

Para aprobar en cierta universidad de Estados Unidos se determinó la siguiente escala por letras:
- De 0 a 30 (sin incluirlo) : D
- De 30 a 40 (sin incluirlo): C
- De 40 a 47 (sin incluirlo): B
- de 47 a 50 (incluyendolo): A

Copie la siguiente tabla que corresponde al listado de estudiantes __(tenga en cuenta de reemplazar puntos a comas)__

| first_name | last_name  | nota 1 | nota 2 |
|------------|------------|--------|--------|
| Stephana   | Youel      | 35.8   | 27.3   |
| Kalinda    | Ofen       | 35.2   | 13.1   |
| Zelma      | Goodhay    | 34.6   | 16.2   |
| Vivyanne   | Glozman    | 14.1   | 46.4   |
| Dasie      | Livett     | 43.9   | 33.4   |
| Redd       | Beefon     | 34.7   | 41.3   |
| Lissa      | Branca     | 39.5   | 24.3   |
| Clarissa   | Macari     | 23.6   | 13.2   |
| Bear       | Craine     | 26.8   | 17.8   |
| Claudio    | Rickertsen | 33.7   | 41.1   |
| Nevsa      | Buddington | 33.6   | 31.2   |
| Katya      | Heffernan  | 22.2   | 36.6   |
| Rosabella  | Helbeck    | 49.7   | 17.5   |
| Adena      | Giacobo    | 23.5   | 25.4   |
| Arabela    | Rippon     | 49.1   | 36.4   |

Resuelva:
1. Agregue en la columna ```D``` el texto ```Nota final```, usando la función correspondiente halle el promedio final de cada estudiante.
2. Agregue en la columna ```E``` el texto ```Valoración Final```, empleando las funciones lógicas si anidadas, determine la valoración en letra para cada estudiante. __Empleando intervalos Descendentes.__

### Ejercicio 2 - 1001

La siguiente tabla corresponde a los resultados finales de la Champions League de Inglaterra para la temporada 2023-2024.

Copiela en la hoja 2 __(tenga en cuenta de reemplazar puntos a comas)__

| Pos | Team             | GP | W  | D  | L  | GF | GA  | GD  | PTS | PPG  | Last 8 | CS  | FTS |
|-----|------------------|----|----|----|----|----|-----|-----|-----|------|--------|-----|-----|
| 1   |  Manchester City | 38 | 28 | 7  | 3  | 96 | 34  | +62 | 91  | 2.39 | 3.00   | 34% | 8%  |
| 2   |  Arsenal         | 38 | 28 | 5  | 5  | 91 | 29  | +62 | 89  | 2.34 | 2.63   | 47% | 13% |
| 3   |  Liverpool       | 38 | 24 | 10 | 4  | 86 | 41  | +45 | 82  | 2.16 | 1.50   | 26% | 8%  |
| 4   |  Aston Villa     | 38 | 20 | 8  | 10 | 76 | 61  | +15 | 68  | 1.79 | 1.13   | 21% | 16% |
| 5   |  Tottenham       | 38 | 20 | 6  | 12 | 74 | 61  | +13 | 66  | 1.74 | 1.13   | 18% | 11% |
| 6   |  Chelsea         | 38 | 18 | 9  | 11 | 77 | 63  | +14 | 63  | 1.66 | 2.38   | 21% | 16% |
| 7   |  Newcastle Utd   | 38 | 18 | 6  | 14 | 85 | 62  | +23 | 60  | 1.58 | 2.00   | 26% | 13% |
| 8   |  Manchester Utd  | 38 | 18 | 6  | 14 | 57 | 58  | -1  | 60  | 1.58 | 1.50   | 24% | 24% |
| 9   |  West Ham Utd    | 38 | 14 | 10 | 14 | 60 | 74  | -14 | 52  | 1.37 | 1.00   | 13% | 21% |
| 10  |  Crystal Palace  | 38 | 13 | 10 | 15 | 57 | 58  | -1  | 49  | 1.29 | 2.38   | 26% | 18% |
| 11  |  Brighton        | 38 | 12 | 12 | 14 | 55 | 62  | -7  | 48  | 1.26 | 0.63   | 16% | 26% |
| 12  |  Bournemouth     | 38 | 13 | 9  | 16 | 54 | 67  | -13 | 48  | 1.26 | 0.88   | 24% | 18% |
| 13  |  Fulham          | 38 | 13 | 8  | 17 | 55 | 61  | -6  | 47  | 1.24 | 1.00   | 26% | 34% |
| 14  |  Wolverhampton   | 38 | 13 | 7  | 18 | 50 | 65  | -15 | 46  | 1.21 | 0.50   | 13% | 24% |
| 15  |  Everton         | 38 | 13 | 9  | 16 | 40 | 51  | -11 | 40  | 1.26 | 2.00   | 34% | 32% |
| 16  |  Brentford       | 38 | 10 | 9  | 19 | 56 | 65  | -9  | 39  | 1.03 | 1.50   | 18% | 21% |
| 17  |  Nottm Forest    | 38 | 9  | 9  | 20 | 49 | 67  | -18 | 32  | 0.95 | 1.25   | 11% | 26% |
| 18  |  Luton Town      | 38 | 6  | 8  | 24 | 52 | 85  | -33 | 26  | 0.68 | 0.50   | 5%  | 13% |
| 19  |  Burnley         | 38 | 5  | 9  | 24 | 41 | 78  | -37 | 24  | 0.63 | 0.75   | 5%  | 32% |
| 20  |  Sheffield Utd   | 38 | 3  | 7  | 28 | 35 | 104 | -69 | 16  | 0.42 | 0.13   | 3%  | 39% |

Significado de las abreviaturas en la tabla: GP: Total games, W: Winner, D: Drew; L: Lost; GF: Goals For, GA: Goals Against, PPG: Points Per Game, Last 8: PPG last 8 matches, CS: Clean Sheets, FTS: Failed To Score

Resuelva:

1. Agregue una nueva columna llamada ```GPP``` (Goles por partido) y  calcule en promedio cuantos goles hizo cada equipo por partido.
2. Agregue una nueva columna llamada ```PT``` (Rendimiento total) y calcule el porcentaje de partidos ganados en relacion a los partidos jugados, es decir $W/GP*100$
3. Agregue una nueva columna llamada ```Qual``` (Calificacion) y determine el nivel de cada equipo segun los siguientes rangos usando el metodo de __intervalo ascendente.__(De menor a mayor)

- De 0 hasta 20 PTS (incluyendolo) : Deficiente rendimiento
- A partir de 20 hasta 40 PTS (incluyendolo) : Bajo rendimiento
- A partir de 40 hasta 60 PTS (incluyendolo) : Aceptable rendimiento
- A partir de 60 hasta 80 PTS (incluyendolo) : Buen rendimiento
- De 80 PTS en adelante: Excelente rendimiento

Guarde su archivo como: Guia1_SIAnidadas_Apellido_Nombre_DiaMes, por ejemplo: ```Guia1_SiAidadas_Perez_Pedro_mayo20```

### Ejercicio 1 - 1002

El consumo de agua por metros cubicos se ha clasificado segun los siguientes rangos:

- De 0 a 20 (incluyéndolo) : Bajo consumo
- de 20 a 40 (incluyéndolo) : Medio consumo
- de 40 a 50 (incluyéndolo) : Alto consumo
- Mas de 60: Muy alto consumo

La siguiente tabla muestra el consumo de agua realizado por un grupo de personas de cierto sector en New York, copiela en su cuaderno, __(tenga en cuenta de reemplazar puntos a comas)__

| first_name | last_name  | January_con | February_con | March_con |
|------------|------------|-------------|--------------|-----------|
| Meryl      | Torpie     | 8.2         | 37.5         | 66.9      |
| Gino       | Ballendine | 26.7        | 55.0         | 51.8      |
| Clerissa   | Bonnar     | 38.9        | 18.4         | 14.6      |
| Boniface   | Klimushev  | 39.8        | 64.4         | 46.6      |
| Wiatt      | Balfour    | 47.4        | 56.0         | 19.8      |
| Laughton   | Diaper     | 25.5        | 8.1          | 55.2      |
| Shannan    | Ffoulkes   | 41.0        | 43.4         | 47.4      |
| Feliks     | Bindin     | 41.8        | 61.8         | 28.2      |
| Maude      | Fewkes     | 6.2         | 51.9         | 16.6      |
| Ab         | Myers      | 60.2        | 37.0         | 70.0      |
| Kellsie    | Godlip     | 43.8        | 17.9         | 46.9      |
| Michail    | Gajownik   | 5.1         | 18.6         | 26.0      |
| Alexine    | Adamides   | 13.9        | 13.4         | 52.2      |
| Shay       | Newrick    | 23.0        | 15.8         | 31.3      |
| Benita     | Cartin     | 30.1        | 57.6         | 61.6      |

Resuelva:

1. Agregue en la columna ```F``` el texto ```Clasificacion Marzo```, y determine el nivel de consumo  usando las funciones logicas si anidadas usando __intervalo ascendente.__
2. Agregue en la columna ```G``` el texto ```Consumo General``` y determine el promedio consumido en los tres meses por cada persona, empleando la funcion que considere convenniente.

### Ejercicio 2 - 1002

La siguiente tabla corresponde a los resultados parciales de La Liga profesional de futbol España para la temporada 2023-2024.

| Pos | Team             | GP | W  | D  | L  | GF | GA | GD  | PTS | PPG  | Last 8 | CS  | FTS |
|-----|------------------|----|----|----|----|----|----|-----|-----|------|--------|-----|-----|
| 1   |  Real Madrid     | 37 | 29 | 7  | 1  | 87 | 26 | +61 | 94  | 2.54 | 2.75   | 54% | 3%  |
| 2   |  FC Barcelona    | 37 | 25 | 7  | 5  | 77 | 43 | +34 | 82  | 2.22 | 2.25   | 46% | 5%  |
| 3   |  Girona          | 37 | 24 | 6  | 7  | 78 | 46 | +32 | 78  | 2.11 | 2.00   | 30% | 19% |
| 4   |  Atletico Madrid | 37 | 23 | 4  | 10 | 68 | 43 | +25 | 73  | 1.97 | 2.25   | 32% | 22% |
| 5   |  Athletic Bilbao | 37 | 18 | 11 | 8  | 60 | 37 | +23 | 65  | 1.76 | 1.13   | 46% | 24% |
| 6   |  Real Sociedad   | 37 | 16 | 12 | 9  | 51 | 37 | +14 | 60  | 1.62 | 1.75   | 41% | 24% |
| 7   |  Real Betis      | 37 | 14 | 14 | 9  | 48 | 45 | +3  | 56  | 1.51 | 1.75   | 32% | 19% |
| 8   |  Villarreal      | 37 | 14 | 10 | 13 | 64 | 64 | 0   | 52  | 1.41 | 1.75   | 16% | 11% |
| 9   |  Valencia        | 37 | 13 | 9  | 15 | 38 | 43 | -5  | 48  | 1.30 | 0.88   | 35% | 35% |
| 10  |  Alaves          | 37 | 12 | 9  | 16 | 35 | 45 | -10 | 45  | 1.22 | 1.63   | 30% | 41% |
| 11  |  Osasuna         | 37 | 12 | 8  | 17 | 44 | 55 | -11 | 44  | 1.19 | 1.00   | 27% | 27% |
| 12  |  Getafe          | 37 | 10 | 13 | 14 | 41 | 52 | -11 | 43  | 1.16 | 0.63   | 27% | 41% |
| 13  |  Sevilla FC      | 37 | 10 | 11 | 16 | 47 | 52 | -5  | 41  | 1.11 | 1.63   | 22% | 27% |
| 14  |  Celta Vigo      | 37 | 10 | 10 | 17 | 44 | 55 | -11 | 40  | 1.08 | 1.63   | 16% | 35% |
| 15  |  Las Palmas      | 37 | 10 | 9  | 18 | 32 | 46 | -14 | 39  | 1.05 | 0.25   | 22% | 46% |
| 16  |  Rayo Vallecano  | 37 | 8  | 14 | 15 | 29 | 47 | -18 | 38  | 1.03 | 1.13   | 35% | 49% |
| 17  |  Mallorca        | 37 | 7  | 16 | 14 | 31 | 43 | -12 | 37  | 1.00 | 0.88   | 27% | 41% |
| 18  |  Cadiz           | 37 | 6  | 15 | 16 | 25 | 49 | -24 | 33  | 0.89 | 1.38   | 27% | 49% |
| 19  |  Granada         | 37 | 4  | 9  | 24 | 38 | 72 | -34 | 21  | 0.57 | 0.88   | 8%  | 41% |
| 20  |  Almeria         | 37 | 2  | 12 | 23 | 37 | 74 | -37 | 18  | 0.49 | 0.63   | 16% | 32% |

Significado de las abreviaturas en la tabla: GP: Total games, W: Winner, D: Drew; L: Lost; GF: Goals For, GA: Goals Against, PPG: Points Per Game, Last 8: PPG last 8 matches, CS: Clean Sheets, FTS: Failed To Score

Resuelva:

1. Agregue una nueva columna llamada ```GAP``` (Goles recibidos partido) y  calcule en promedio cuantos goles recibió cada equipo por partido.
2. Agregue una nueva columna llamada ```BD``` (Mejor defensa) y calcule el porcentaje de partidos perdidos en relacion a los partidos jugados, es decir $L/GP*100$
3. Agregue una nueva columna llamada ```Qual``` (Calificacion) y determine el nivel de cada equipo según los siguientes rangos usando el método de __intervalo descendente.__ (de Mayor a menor)

- De 0 hasta 20 PTS (incluyendolo) : Deficiente rendimiento
- A partir de 20 hasta 40 PTS (incluyendolo) : Bajo rendimiento
- A partir de 40 hasta 60 PTS (incluyendolo) : Aceptable rendimiento
- A partir de 60 hasta 80 PTS (incluyendolo) : Buen rendimiento
- De 80 PTS en adelante: Excelente rendimiento

Guarde su archivo como: Guia1_SIAnidadas_Apellido_Nombre_DiaMes, por ejemplo: ```Guia1_SiAidadas_Perez_Pedro_mayo20```